CompileFlags:
  CompilationDatabase: build-local

Diagnostics:
  ClangTidy:
    Add:
      - modernize*
      - performance*
      - readability*
      - bugprone*
    Remove:
      - readability-identifier-length

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
