Language: Cpp
Standard: c++17
ColumnLimit: 0

UseTab: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
IndentAccessModifiers: false
NamespaceIndentation: None

AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignTrailingComments: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never

SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: false
Cpp11BracedListStyle: true

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: Never